################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Gra_w_zycie/obj/Debug
/Gra_w_zycie/bin/Debug
/Gra_w_zycie/Properties
/Gra_w_zycie/App.config
/Gra_w_zycie/Gra_w_zycie.csproj
